:host {
    display: flex;
    flex-flow: column;

    div.header {}

    div.button {
        display: flex;
        align-items: flex-start;
        padding: 12px;

        &>* {
            margin-right: 12px;
        }
    }

    div.child {
        display: flex;
        flex-flow: row wrap;
        padding: 0 12px;

        .title {
            width: 100%;
            margin-bottom: 12px;
        }

        .item {

            border: 1px solid gray;
            padding: 4px 8px;
            border-radius: 3px;
            cursor: pointer;
            margin: 0 12px 12px 0;

            .title {
                width: 100%;
                font-size: 14px;
            }

            .buttons {
                display: flex;
                flex-flow: row wrap;

                &>* {
                    margin-right: 6px;
                    font-size: 14px;
                }
            }
        }
    }

    div.content {
        flex: 1;
        padding: 12px;
    }
}