:host {
    display: flex;
    flex-flow: column;
    height: 120px;
    border: 1px solid #CACDD1;
    margin-bottom: 12px;
    user-select: none;

    div.header {
        padding: 6px;

    }

    div.content {
        flex: 1;
        padding: 12px;
        display: flex;
        align-items: flex-start;

        &>* {
            margin-right: 12px;
        }

    }

    div.footer {
        padding: 0 12px 6px;
        .update-time {
            color: orange;
        }
    }
}