<div class="navbar">
    <p class="title" routerLink="/">Ng In Deep</p>
    <a class="nav" routerLink="/detection-lifestyle" routerLinkActive="active">Detection触发时机</a>
    <a class="nav" routerLink="/tree-shape-detection" routerLinkActive="active">树型Detection</a>
    <!-- <a class="nav" routerLink="/customer" routerLinkActive="active">Customer</a>
    <a class="nav" routerLink="/school" routerLinkActive="active">School</a> -->
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>