html,
body {
    width: 100%;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;
}

body {
    display: flex;
    flex-flow: column;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outside-ng-panel-mask {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 220, 220, .3);
    z-index: 998;
}

.outside-ng-panel-mask.show {
    display: block;
}

.outside-ng-panel {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0;
    background-color: #fffef9;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, .3);
    transition: 200ms height;
    overflow: hidden;
    z-index: 999;
}

.outside-ng-panel.show {
    height: 180px;
    padding: 12px 20px;
}

.outside-ng-panel>.title {
    color: orange;
    font-size: 14px;
    font-weight: 600;
}

.outside-ng-panel>.buttons {
    padding: 6px;
}

.outside-ng-panel>.close {
    position: absolute;
    top: 6px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #999FAA;
}

.outside-ng-panel>.close:hover {
    color: red;
}